.mat-card-top {
  margin-top: -10%;
  margin-left: 10%;
  margin-right: 10%;
}

.mat-form-field {
  width: auto;
}

.return-link {
  text-decoration: none;
}

.return-link:hover {
  text-decoration: underline;
}

mat-card{
  margin: 0 auto;
  background-color: #cfd7c7
}

mat-toolbar {
  background-color: #0b2027;
  color: #70A9A1;
}

.submit{

  background-color: rgb(11,32,39);
  color: white;
  border: 3px solid rgb(11,32,39);
  margin-right: 5px;
}

.submit:hover {
  border: 3px solid #40798C;
}

.cancel{
  background-color: #40798C;
  color: white;
  border: 3px solid  #40798C;
  margin-left: 5px;
}

.cancel:hover {
  border: 3px solid rgb(11,32,39);
}

.container{
  margin-bottom: 6%;
  background-color: rgb(112, 169, 161);
}
