<!--500 Page-->
<div fxLayout="column">
  <mat-card fxFlex class="mat-elevation-z8">
    <mat-card-title style="text-align: center" class="mat-headline">500</mat-card-title>
    <br/>
    <mat-card-subtitle style="text-align: center;" class="mat-headline">Internal Server Error.
    </mat-card-subtitle>
    <mat-card-content style="text-align: center;">
      <img src="../../../assets/500-server.png"/>

    </mat-card-content>
    <button mat-raised-button routerLink="/">Return to Dashboard</button>
  </mat-card>
</div>
