mat-card{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25%;
    margin-top: 3%;
    background-color: #cfd7c7;
  }
  
  mat-card-title{
    font-size: 250%;
    padding-top: 1%;
  }
  
  mat-card-actions{
    text-align: center;
    margin-left: -24%;
  }
  
  .submit{
    background-color: rgb(11,32,39);
    color: white;
    width: 40%;
  }
  
  .cancel{
    background-color: #40798C;
    color: white;
    width: 40%;
  }
  