<div fxLayout = "column">
  <h1 class = "header">Manage Users</h1>

  <div>
    <div *ngIf = "users">
      <mat-card *ngFor = "let User of users" class = "mat-elevation-z12 user-card">
        <mat-card-title>{{User.firstname + " " + User.lastname}}
          <mat-card-content>
            <button mat-icon-button (click) = "delete(User._id, User.username)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button routerLink = "/users/{{User._id}}">
              <mat-icon>edit</mat-icon>
            </button>
            <!--User pic-->
            <img class = "user-icon" src="../../../assets/user.png">
            <mat-card-subtitle class = "ID">Role: {{User.role}}</mat-card-subtitle>
            <div class = "info1">
              <p>Username: {{User.username}}</p>
              <p>Phone Number: {{User.phoneNumber}}</p>
              <p>Address: {{User.address}}</p>
            </div>

            <div class = "info2">
              <p>Email: {{User.email}}</p>
              <p>Date Created: {{User.date_created}}</p>
              <p>Date Modified: {{User.date_modified}}</p>
            </div>

          </mat-card-content>
        </mat-card-title>
      </mat-card>
      <br/><br/>
    </div>
  </div>
</div>
