mat-list-item{
  margin-bottom: 5%;
}

.form > mat-list-item{
  margin-bottom: 10%;
}

.credentials{
  margin-top: 6%;
  display: flex;
  flex-direction: row;
}

mat-card-title{
  text-align: center;
  padding-bottom: 2%;
  padding-top: 1%;
  font-size: 250%;
}

mat-card{
  margin: 0 auto;
  width: 55%;
  margin-top: -10%;
  background-color: #cfd7c7
}

mat-form-field{
  width: 100%;
  padding: 1%;
}

mat-card-content{
  text-align: center;
}

.submit{
  width: 100%;
  background-color: rgb(11,32,39);
  color: white;
  border: 1% solid rgb(11,32,39);
  margin-right: 1%;
}

.submit:hover {
  border: 1% solid #40798C;
}

.cancel{
  width: 100%;
  background-color: #40798C;
  color: white;
  border: 1% solid  #40798C;
  margin-left: 1%;
}

.cancel:hover {
  border: 1% solid rgb(11,32,39);
}

.form{
  columns: 2;
}

.sec-questions{
  margin-right: 10%;
}

.answer{
  margin-left: 5%;
}

#button1{
  width: 45%;
  height: 15%;
  color: white;
}

#button2{
  width: 45%;
  height: 15%;
}

#container{
  text-align: center;
}
