.main-welcome {
    margin-top: 3%;
    background-color:  rgb(112, 169, 161);
    margin-bottom: 50%;
  }

  .title {
    text-align: center;
    font-weight: lighter;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }
