.main-welcome {
    margin-top: 3%;
    background-color:  rgb(112, 169, 161);
    margin-bottom: 1%;
  }

  .title {
    text-align: center;
    font-weight: lighter;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }
  img{
    float: center;
    height: 60;
    width: 60%;
    display: inline;
    padding: 1%;
    margin-bottom: 10%;
    margin-left: -2%;
    margin-right: 3%;
    margin-top: -2%;
  }